EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_API_URL=https://villam-backend.onrender.com

# For local backend development on the same network, replace this with your LAN IP:
# EXPO_PUBLIC_API_URL=http://(YOURLANIP):8001
